<div class="container_12"> 

	<div class="grid_6">
		<div id="gmap_image" ng-if="mapflag">
	   	<!--<img src='../public/images/map_white_2.png' width="450" height="500"> -->

		   	<img ng-src="http://maps.googleapis.com/maps/api/staticmap?center={{centerXarea}},{{centerYarea}}&zoom=13&size=370x540&maptype=roadmap&markers={{markers}}&path={{buspath_blue1}}&path={{buspath_blue2}}&path={{buspath}}&markers={{yookbus}}&markers={{hwanbus}}&sensor=false&key=AIzaSyAM_1iWs2FUHPkOvCYKq88Uvyw4ox0CfZE" id="abc" vspace="50">

	
		</div>
	</div>
		<!-- present state true : google static maps -->
		<!-- left pannel -->

       	<div class="grid_6">
 		<div id="weather_table">
		<table class="table table-simple" border="1">
		<thead>
		<tr>
			<th colspan="2">현재날씨</th>
			<th>기온</th>
			<th>습도</th>
			<th>풍속</th>
		</tr>
		</thead>
		
		<tbody>
			<tr>
			<td>
			      <img src="http://www.kma.go.kr/images/icon/NW/NB01.png" ng-if="weather.wfKor=='맑음'">
		     	      <img src="http://www.kma.go.kr/images/icon/NW/NB02.png" ng-if="weather.wfKor=='구름 조금'">
			      <img src="http://www.kma.go.kr/images/icon/NW/NB03.png" ng-if="weather.wfKor=='구름 많음'">
			      <img src="http://www.kma.go.kr/images/icon/NW/NB04.png" ng-if="weather.wfKor=='흐림'">
			      <img src="http://www.kma.go.kr/images/icon/NW/NB08.png" ng-if="weather.wfKor=='비'">
			      <img src="http://www.kma.go.kr/images/icon/NW/NB13.png" ng-if="weather.wfKor=='눈/비'">
			      <img src="http://www.kma.go.kr/images/icon/NW/NB11.png" ng-if="weather.wfKor=='눈'">
		    	</td>
			
			<td>{{weather.wfKor}}</td>
			<td>{{weather.temperature}}℃</td>
			<td>{{weather.humidity}}%</td>
			<td>{{weather.windspeed|number:1}}m/s</td>
			</tr>
		</tbody>
		</table> 
        		</div>
        	</div>
        	<!-- present state true : weather_table -->

	<div class="grid_6">
		<div id="bus_table">
			<table class="table table-simple" border="1">
			<thead>
				<tr>
					<th>아이콘</th>
					<th>운행구간</th>
					<th>현재정류장</th>
					<th>버스상태</th>
					<th>버스번호</th>
					<th>탑승자</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-show="dataflag">
					<td colspan = "6">현재 운행중인 버스가 없습니다</td>
				</tr>
				<tr ng-repeat="businfo in busdata">
					<td>
						<img  ng-if ="businfo.Endname=='육거리'||businfo.Startname=='육거리'" src="../public/images/bus_icon1.png">
						<img ng-if ="businfo.Endname!='육거리'&&businfo.Startname!='육거리'" src="../public/images/bus_icon2.png">
					</td>
					<td>{{businfo.Startname.toString()}}->{{businfo.Endname.toString()}}</td>
					<td>{{businfo.Sname.toString()}}</td>
					<td ng-if="businfo.Over=='0'">정차</td>
					<td ng-if="businfo.Over=='1'">출발</td>
					<td>{{businfo.CarNo.toString()}}</td>
					<td>{{businfo.Passenger.toString()}}</td>
				</tr>
			</tbody>
			</table></div> 
		<!-- present state true : bus table -->
	</div>

        	<div class="grid_6">
        		<div id="time_table">
			<table class="table table-simple" border="1">
			  <thead>
				<th>학교</th>
				<th>환호동</th>
				<th>육거리</th>
				<th>환호동</th>
				<th>학교</th>
			  </thead>
			  <tbody>
			  	<tr ng-show="timeflag">
					<td colspan="5">현재 운행중인 버스가 없습니다</td>
			  	</tr>
				<tr ng-repeat="timestamp in timetable">
				  <td ng-show="timestamp.colSpan==0"			>{{timestamp.timedata[0]}}</td>
				  <td ng-show="timestamp.colSpan==2" colspan="2">{{timestamp.timedata[0]}}</td>
				  <td ng-show="timestamp.colSpan==3" colspan="3">{{timestamp.timedata[0]}}</td>
				  <td ng-show="timestamp.colSpan<5&&timestamp.timedata.length>1">{{timestamp.timedata[1]}}</td>
				  <td ng-show="timestamp.colSpan<4&&timestamp.timedata.length>2">{{timestamp.timedata[2]}}</td>
				  <td ng-show="timestamp.colSpan<3&&timestamp.timedata.length>3">{{timestamp.timedata[3]}}</td>
				  <td ng-show="timestamp.colSpan<2&&timestamp.timedata.length>4">{{timestamp.timedata[4]}}</td>
				</tr>
			  </tbody>
			</table>
			
			<!-- real bus time table -->
			<!-- bus time table service : present --> 
    			<!-- right_pannel -->
		</div>	
	</div>	
</div>